<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wish List</title>
</head>
<body>
    <form action="/logout" method="POST">
        {% csrf_token %}
        <input type="submit" value="logout">
    </form>
    <form action="/home" method="POST">
        {% csrf_token %}
        <input type="submit" value="home">
    </form>
    <h2>{{product.name}}</h2>
    <p>Users who added this product/item under thier wishlist:</p>
    {% for user in product.added.all %}
        <p>{{user.username}}</p>
    {% endfor %}
</body>
</html>